@font-face {
    font-family: 'Trade Winds';
    src: url('/fonts/TradeWinds-Regular.ttf');
}
@font-face {
    font-family: 'Almarai';
    src: url('/fonts/Almarai-Bold.ttf');
    src: url('/fonts/Almarai-ExtraBold.ttf');
    src: url('/fonts/Almarai-Light.ttf');
    src: url('/fonts/Almarai-Regular.ttf');
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.ttf');
    src: url('/fonts/Ubuntu-BoldItalic.ttf');
    src: url('/fonts/Ubuntu-Italic.ttf');
    src: url('/fonts/Ubuntu-Light.ttf');
    src: url('/fonts/Ubuntu-LightItalic.ttf');
    src: url('/fonts/Ubuntu-Medium.ttf');
    src: url('/fonts/Ubuntu-MediumItalic.ttf');
    src: url('/fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'Aref Ruqaa';
    src: url('/fonts/ArefRuqaa-Bold.ttf');
    src: url('/fonts/ArefRuqaa-Regular.ttf');
}
@font-face {
    font-family: 'Fondamento';
    src: url('/fonts/Fondamento-Italic.ttf');
    src: url('/fonts/Fondamento-Regular.ttf');
}
@font-face {
    font-family: 'Ceviche One';
    src: url('/fonts/CevicheOne-Regular.ttf');
}
@font-face {
    font-family: 'Katibeh';
    src: url('/fonts/Katibeh-Regular.ttf');
}
@font-face {
    font-family: 'Lalezar';
    src: url('/fonts/Lalezar-Regular.ttf');
}
@font-face {
    font-family: 'Lateef';
    src: url('/fonts/Lateef-Regular.ttf');
}
@font-face {
    font-family: 'Nosifer';
    src: url('/fonts/Nosifer-Regular.ttf');
}
body
{
 background: #f5f5f5;
 font-family: 'Ubuntu','Almarai';
 font-weight: 600;
}
.title-post
{
    font-size: 25px;
    font-family: 'Almarai';
    font-weight: bolder;
    background: white;
    border: 1px solid wheat;
    border-bottom: 0px;
        padding: 15px;
    margin-bottom: 0px;
}

.brdrd
{
    border-radius: 0px;
}
.border-black
{
    border:1px solid black;
}
.bg-black
{
    background:black;
}
.border-red
{
    border:1px solid red;
}
.bg-red
{
    background:red;
}
.border-yellow
{
    border:1px solid yellow;
}
.bg-yellow
{
    background:rgb(229, 255, 0);
}
.btn-outline-yellow {
    color: rgb(0, 0, 0);
    background-color: transparent;
    background-image: none;
    border-color: rgb(229, 255, 0);
}
.btn-outline-yellow:hover,.btn-outline-yellow:active,.btn-outline-yellow:focus {
background:rgb(229, 255, 0);
color: rgb(0, 0, 0);
}
.boxch
{
   box-shadow: aquamarine ;
   box-sizing: border-box;
}
.hy {
    /* position: absolute; */
    right: 0;
    bottom: -22px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    padding-bottom: 10px;
}
.alert {
    position: fixed;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    bottom: 0px;
    width: 21%;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    left: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}
.block1-wrap-icon {
    position: absolute;
    width: 100%;
    bottom: 26px;
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.headdev
{
    font-size: x-large;
    font-family: cursive;
    color: white;
    display: inline-block;
    position: absolute;
    list-style: none;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    transition: opacity 0.8s;
    background-color: white;
}
.card:hover .headdev
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
@media (min-width: 992px) {
    .contentmain
    {
        display: none !important;
    }
}
.info
{
    line-height: 1;
    padding-left: 5px;
    padding-right: 5px;
}
@media (max-width: 540px) {
    .clocktime
    {
        display: none !important;
    }
}
.card-body >hr:last-child
{
   display: none;
}
.viewer
{
    top: 0;
    position: absolute;
    background: rgba(49, 33, 33, 0.63);
    border-radius: 1em;
}
.titlecard
{
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    color: white;
    padding-top:70px;
    height: 100%;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(0, 0, 0, 0.507);
    transition: all 5ms, color 2s;
}
.titlecard:hover
{
    opacity: 1;

}
.titlecard {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.479);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .card:hover .titlecard {
    height: 100%;
  }

   .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.text-info-post
{
  font-size: smaller;
  font-family: inherit;

}
.alock
{
    text-decoration: none;
    font-size: small;
    color:black;
}
.alock:hover
{
    text-decoration: none;
    font-size: small;
    color:black;
}
@media (min-width: 1200px){
.container {
     max-width: 1230px;;
}
}
  .btn:focus,
  .btn:hover,
  textarea:hover,
  .input:hover,
  textarea:active,
  .input:active,
  textarea:focus,
  .input:focus,
  button:focus,
  button:active,
  button:hover,
  select:focus,
  select:active,
  select:hover,
  label:focus,
  .btn:active,
  .btn.active
  {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
  }
  .myclass,.myclass:active,.myclass:hover,.myclass:focus
  {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
  }
    .img-user-post
    {
     height: 50px;
     width: 50px;
     border-radius: 2em;
    }
    .img-user-comment
    {
     height: 50px;
     width: 50px;
     border-radius: 8px;
    }
    .hour
    {
        font-size: 12px;
        font-family: cursive;
    }
    .right
    {
        float: right;
    }
    .left
    {
        float: left;
    }
    .border-raduis-1
    {
        border-radius: .25rem;
    }
    .border-raduis-0
    {
        border-radius: 0rem;
    }
    .border-raduis-2
    {
        border-radius: .50rem;
    }
    .border-raduis-3
    {
        border-radius: .75rem;
    }
    .border-raduis-4
    {
        border-radius: 2rem;
    }
    .border-raduis-4-left
    {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .border-raduis-4-right
    {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .card-header:first-child {
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }
    .show-poster
    {
      height: 500px;
      width: 100%;
      border:4px solid white;
    }

    .table td
    {
        border: 0px;
    }
    .lh
    {
        line-height: 2.5;
    }



/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }


  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 77; /* Sit on top */
    left: 0;
    padding-top: 50px;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  iframe
  {
      width: 100%;
      height: 500px;
      max-height: 500px;
  }
  /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.myborder-right
{
    border-right: 9px solid #008c0b;
    background: cyan;
}
.myborder-left
{
    border-left: 9px solid #008c0b;
    background: cyan;
}

.img-writer
{
    position: absolute;
    height: 80px;
    width: 80px;
    top: -37px;
    border-radius: 50%;
    right: 0px;
    z-index: 999;
    border: 2px #111;
}
.userimg
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.img-book
{
    width: 100%;
    height: 100%;
    max-height: 250px;
}
.mostwriter
{
    height:60px;
    width:60px;
    border-radius: 50%;
}
.mainwriter
{
    height:180px;
    width:180px;
    border-radius: 100%;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: large;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.alink,.alink:hover
{
    text-decoration-line: none;
    color: black;
}
.searchwriter {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.smaller
{
    font-size: smaller;
}
.cart
{
 width: 30rem;
 border-radius: 0px;
 height: 450px;
 overflow-x: hidden;

}
.img-product
{
    width: 100%;
    height: 200px;
    max-height: 200px;
}
.imgproduct
{
    width: 100%;
    height: 450px;
    max-height: 450px;
}
.cart-button
{
    position: absolute;
    bottom: 60px;
    margin-right: -15px;
}
.cartimg
{
    height: 60px;
    width: 60px;
    border-radius: 0;
}
.cartcount
{
    top: -9px;
    position: relative;
    padding: 3px;
    background: yellow;
    color: black;
    border-radius: 16px;
    left: 6px;
}
.onl
{
 text-decoration-line: line-through;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.center
{
    text-align: center;
    place-self: center;
}
.border-d
{
    border: double;
}
.card-img-top
{
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    max-width: -webkit-fill-available;
    border-top-right-radius: calc(.25rem - 1px);
    height: 200px;
    max-height: 200px;
}
.single-article
{
 height: 500px;
}
.content-article
{
    line-height: 2.2;
}
.button-share
{
    position: absolute;
    bottom: 5px;
    border-radius: 3rem;
    display: grid;
    right: -24px;
}
.facebook {
    color: #4f76bb;
    background-color: white;
    background-image: none;
    border-color: #4f76bb;
}
.facebook:hover,.facebook:active,.facebook:focus {
    background:#4f76bb;
    color: white;
}
.twitter {
    color: #32c5f3;
    background-color: white;
    background-image: none;
    border-color: #32c5f3;
}
.twitter:hover,.twitter:active,.twitter:focus {
    background:#32c5f3;
    color: white;

}
.whatsapp
{
    color: #008b23;
    background-color: white;
    background-image: none;
    border-color: #008b23;
}
.whatsapp:hover,.whatsapp:active,.whatsapp:focus {
    background:#008b23;
    color: white;

}

.most-view
{
    position: absolute;
    bottom: 0px;
    border-radius: 3rem;
    display: grid;
    left: -30px;
}
.card:hover .show
{
  display:none;
  transition: .5s ease;
}
.hide
{
  display:none;
  transition: .5s ease;
}
.card:hover .hide
{
  display:block;
  transition: .5s ease;
}
.card:hover
{
    transition: .5s ease;
}
.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }

  .openBtn:hover {
    background: #bbb;
  }

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 19999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }

  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }

  .overlay .closebtn:hover {
    color: #ccc;
  }

  .overlay input[type=text] {
    padding: 19px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }

  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
  }
  #myDiv {
    display: none;
    text-align: center;
  }


  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    padding: 19px;
  }

  .overlay button:hover {
    background: #bbb;
  }
  .saved
  {
    top: 7px;
    position: absolute;
    right: 22px;
  }
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 998876; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(17, 17, 17, 0.384); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a {
    color:black;
  }
  .sidenav a:hover {
    color:black;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.md-hide
{
    display: none;
}
.md-show
{
    display:block;
}
.card-img-top
{
  height: 225px;
  max-height: 225px;
}
@media screen and (max-width: 777px) {
    .md-hide
    {
     display: block;
    }
    .md-show
   {
    display:none;
   }
    .card-img-top
    {
        height: 100px;
        max-height: 100px;
    }
    .lastmain
    {
        height: 100px;
        max-height: 100px;
    }
  }
  .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.582); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    padding: 20px; /* Some padding */
    right: 15px;
    left: 15px;
  }
